[Desktop Entry]
Name=DebGear
GenericName=Hardware and Driver Manager
Comment=Inspect hardware and manage Debian drivers
Exec=debgear
Icon=com.mozcelik.DebGear
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=Debian;NVIDIA;GPU;Drivers;DKMS;Hardware;
StartupNotify=true
